@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: "Roboto Mono", monospace;
}

h2 {
	font-weight: 600;
	font-size: 24px;
	color: "#023047"
}

h3 {
	font-weight: 500;
	font-size: 16px
}